<div class="profile-icons">
	<% if type == "edit" %>
		<%= form.submit "Save", class: 'colored-btn' %>
	<% else %>
		<% if current_user == @user %>
			<%= link_to edit_user_path(@user) do %>
				<i class="fas fa-user-edit icon"></i>
			<% end %>
		<% end %>
		<% if current_user == @user || current_user.admin? %>
			<%= link_to(user_path(@user), method: :delete, data: { confirm: 'This will permanently delete this account along with the posts associated with it, are you sure?' }) do %>
				<i class="far fa-trash-alt icon"></i>
			<% end %>
		<% end %>
	<% end %>
</div>

<div class="profile">
	<div class="container">
		<div class="row">
			<div class="col-4 col-sm-5 col-lg-6 image-box">
				<div class="circles">
					<%= image_tag gravatar_link(@user), alt: @user.username, class: 'profile-image' %>
					<div class='gradient-circle'></div>
					<div class='pop-up'> Your gravatar profile appears here! </div>
					<% if @user.admin? %>
						<%= image_tag 'admin.png', class: 'crown' %>
					<% end %>
				</div>
			</div>
			<div class="col-8 col-sm-7 col-lg-6 details-box">
				<% if type == "edit" %>
					<h1 class="profile-name"><%= form.text_field :username, autocomplete: 'off', spellcheck: 'false', class: 'profile-edit' %></h1>
					<div class="error form-error"><%= flash[:error] %></div>
				<% else %>
					<h1 class="profile-name"><%= @user.username %> <%= "(admin)" if @user.admin? %></h1>
				<% end %>
				<h2 class="profile-email"><%= @user.email %></h2>
			</div>
		</div>
	</div>
</div>

<% if @user.posts.any? %>
	<h2 class="recent">Latest Posts</h2>
	<%= render 'posts/posts', posts: @user.posts.paginate(page: params[:page], per_page: 3).order(created_at: :desc) %>
<% end %>