<div class="the-post">
	<h1 class="post-title"><%= @post.title %></h1>
	<p class="index-body post-body"><%= @post.body%></p>
	<div class="bg-img1"></div>
	<div class="bg-img2"></div>
	<div class="bg-img3"></div>
	<div class="bg-img4"></div>
</div>

<div class="author">
	<p class="author-name">by <%= link_to @post.user.username, user_path(@post.user) %></p>
	<p class="author-date">last modified at <%= @post.updated_at.strftime("%d-%b-%Y") %></p>
</div>

<div class="comment-section">
	<h3 class="comments"><%= "Comments:" if @post.comments.any? %></h3>
	<% @post.comments.each do |c| %>
		<p class="commenter"><%= c.name %></p>
		<p class="comment"><%= c.comment %></p>
	<% end %>
	
	
	<h4 class="comments">Add Comment:</h4>
	<%= form_with model: [@post, @post.comments.build], class: 'cmnt-form' do |f| %>
		<%= f.text_area :comment, class: "body-input cmnt-body" %> <br/>
		<%= f.submit "Add", class: "colored-btn cmnt-btn" %> <br/>
	<% end %>
</div>
