<div class="the-post">
	<h1 class="post-title"><%= @post.title %></h1>
	<div class="index-body post-body"><%== markdown.render(@post.body) %></div>
	<div class="bg-img1"></div>
	<div class="bg-img2"></div>
	<div class="bg-img3"></div>
	<div class="bg-img4"></div>
</div>

<% if @post.user == current_user || (logged_in? && current_user.admin?) %>
		<div class='edit-post'><i class="far fa-edit icon"></i> <%= link_to 'Edit', edit_post_path(@post) %></div>
<% end %>

<div class="author">
	<p class="author-name">by <%= link_to @post.user.username, user_path(@post.user) %></p>
	<p class="author-date">last modified at <%= @post.updated_at.strftime("%d-%b-%Y") %></p>
</div>

<div class="comment-section">
	<h3 class="comments"><%= "Comments:" if @post.comments.any? %></h3>
	<% @post.comments.each do |c| %>
		<div class='single-cmnt'>
			<p class="commenter"><%= link_to c.name, user_path(c.user) %></p>
			<p class="comment"><%= c.comment %></p>
			<% if c.user == current_user || (logged_in? && current_user.admin?) %>
				<%= link_to post_comment_path(@post, c), method: :delete, class: 'delete-cmnt' do %>
					<i class="far fa-trash-alt icon"></i>
				<% end %>
			<% end %>
		</div>
	<% end %>
	
	<% if logged_in? %>
		<h4 class="comments">Add Comment:</h4>
		<%= form_with model: [@post, @post.comments.build], class: 'cmnt-form' do |f| %>
			<%= f.text_area :comment, class: "body-input cmnt-body" %> <br/>
			<%= f.submit "Add", class: "colored-btn cmnt-btn" %> <br/>
		<% end %>
	<% end %>
</div>
