<!DOCTYPE html>
<html>
  <head>
    <title>Blog</title>
    <meta name="viewport" content="width=device-width,initial-scale=1">
    <%= csrf_meta_tags %>
    <%= csp_meta_tag %>

    <%= stylesheet_link_tag 'application', 'https://fonts.googleapis.com/css2?family=Rancho&family=Klee+One:wght@400;600&family=Major+Mono+Display&family=Mate+SC&display=swap', media: 'all', 'data-turbolinks-track': 'reload' %>
    <%= javascript_pack_tag 'application', 'data-turbolinks-track': 'reload' %>
  </head>

  <body>
  	<nav>
		<a href=<%= posts_path %>><h1 class = "main-title">Narrate-it!</h1></a>
		<%= link_to "+ New Post", new_post_path, class: 'new-post' %>
	</nav>
    <%= yield %>
  </body>
</html>
